@charset "UTF-8";
body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	overflow: hidden;
}

div.wrapper, div.wrapper .background {
	width:300px;
	height:250px;
}

div.wrapper .background {
	position: absolute;
	z-index:1;
	margin:0;
	padding:0;
}

div.wrapper .background figure {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
	background-color: #BC2224;
}

div.wrapper .background figure img {
	position: absolute;
	bottom:-115px;
	transform:scale(0.7,0.7)translate(-40%,0%);
	transition:all 0.8s ease-out;
}

div.wrapper .background.show figure img {
	position: absolute;
	transform:scale(0.7,0.7)translate(-62%,0%);
}

div.wrapper:hover .background figure img {
	transform:scale(0.7,0.7)translate(-61%,1%);
}


a.link {
	width:150px;
	height:auto;
	display:block;
	opacity:1.0;
	background-color:#6abfa8;
	padding:10px 12px;
	text-decoration: none;
	position:absolute;
	bottom:20px;
	right:10px;
	background-image:url(../images/btntext.svg);
	background-repeat: no-repeat;
	background-size:80%;
	background-position:center center;
	box-shadow:2px 2px 5px rgba(0,0,0,0.5);
	border:1px solid #84CAB7;
	border-radius: 0px;
	z-index: 100;
	transition:transform 0.2s ease-out;
	transform: scale(0.8,0.8);
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:scale(0.9,0.9);
}

svg.title {
	width:35%;
	height:auto;
	left:6.5%;
	top:10%;
	position: absolute;
	z-index: 100;
}

svg.title g path {
	display: none;
}

svg.title rect {
	width:0;
	opacity: 0.0;
}

div.textbox {
	width:60%;
	height:25px;
	display:block;
	background-image:url(../images/date.svg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 0 30px;
	position: absolute;
	bottom:33%;
	left:6.1%;
	z-index: 100;
	transition:all 0.5s ease;
}

div.textbox.description {
	background-position: 0 3px;
}

div.textbox.date {
	background-position: 0 -22px;
	opacity: 1.0;
}

svg.logo {
	position: absolute;
	z-index: 1;
	left:10px;
	bottom:0px;
	width:100px;
}

