@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#0b0c08;
	width:160px;
	height:600px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	top:0;
	position: absolute;
	opacity: 0.0;
	transition:all 0.4s ease-out;
}

/*Tytgat*/
div.wrapper figure.tytgat {
	z-index:1;

}

div.wrapper figure.tytgat img {
	width:auto;
	height:100%;
	position: absolute;
	transform: translate(-20%,0%)scale(1.0,1.0);
	transition:transform 5s ease;
}

div.wrapper figure.tytgat.last:after {
	/*background:linear-gradient(-90deg, rgba(174,155,122,0.0) 35%, rgba(174,155,122,0.0) 55%);*/
}

div.wrapper figure.tytgat.show img {
	transform: translate(-30%,0%)scale(1.1,1.1);
}

div.wrapper figure.tytgat:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	/*background:linear-gradient(-90deg, rgba(174,155,122,1.0) 35%, rgba(174,155,122,0.0) 55%);*/
}

/*Diederix*/
div.wrapper figure.diederix {
	z-index:2;
	background-color:#04070c;
}

div.wrapper figure.diederix img {
	width:auto;
	height:100%;
	position: absolute;
	transform: translate(0%,0%)scale(1.2,1.2)rotate(0deg);
	transition:transform 5s ease;
}

div.wrapper figure.diederix.show img {
	transform: translate(-30%,0%)scale(0.8,0.8)rotate(-7deg);

}

div.wrapper figure.diederix:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	background:linear-gradient(-50deg, rgba(4,7,12,1.0) 20%, rgba(4,7,12,0.0) 55%);
}

div.wrapper figure.show {
	opacity: 1.0;
}

div.wrapper figure figcaption {
	width:110%;
	position: absolute;
	bottom:30%;
	left:50%;
	margin:0;
	padding:0;
	z-index: 2;
	font-size:20px;
	transform:translate(-45%,0%)scale(0.9,0.9);
	text-transform: uppercase;
}

div.wrapper figure figcaption span {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	letter-spacing: 0.8px;
	font-weight:bold;
	line-height: 1.3em;
	transform:translate(-50%,0%);
	opacity:0.0;
	transition:all 0.4s ease-out;
}

div.wrapper figure figcaption span.show {
	transform:translate(0%,0%);
	opacity:1.0;
}


div.wrapper figure figcaption span.date {
	font-size: 0.45em;
	color:#eada18;
	opacity:0.0;
	transform:translate(0%,50%);
}

div.wrapper figure figcaption span.date.show {
	opacity:1.0;
	transform:translate(0%,-0%);
}


div.wrapper figure figcaption span.title {
	font-size: 1.0em;
	color:#fff;
}

div.wrapper figure figcaption span.posttitle, div.wrapper figure figcaption span.pretitle {
	margin:0;
	font-size: 0.65em;
	color:#000;
	padding:2px 8px;
	display: inline-block;
	background-color:#fff;
	opacity:0.0;
	transform:translate(0%,-50%);
}

div.wrapper figure figcaption span.posttitle.show, div.wrapper figure figcaption span.pretitle.show {
	transform:translate(0%,0);
	opacity:1.0;
}


div.wrapper figure.tytgat.last {
	height:50%;
	top:0;
	z-index: 2;
}

div.wrapper figure.tytgat.last img {

	transform: translate(-20%,0%)scale(1.0,1.0);
}


div.wrapper figure.diederix.show.last {
	width:auto;
	height:50%;
	background-color: #fff;
	transform:translate(0,100%);
	position: absolute;
	z-index:1;
}

div.wrapper figure.diederix.last img {

	transform: translate(0%,0%)scale(1.2,1.2)rotate(0deg);
}

div.wrapper figure.last figcaption {
	display: none;
}


div.wrapper .logo {
	position: absolute;
	left:50%;
	bottom:0%;
	z-index: 100;
	width:60%;
	height:10%;
	display: block;
	background-image:url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: bottom center;
	transform-origin: center;
	opacity: 0.0;
	transform: translate(-50%,-50%);
	transition:all 0.2s ease-out;
}

div.wrapper .logo {
	opacity: 1.0;
}

span.link {
	width:110%;
	height:auto;
	background-color:transparent;
	padding:14px 12px;
	text-decoration: none;
	text-transform: uppercase;
	position:absolute;
	bottom:20%;
	left:50%;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	letter-spacing: 0.8px;
	font-weight:500;
	border-radius: 0px;
	border:2px solid #fff;
	color:#fff;
	z-index: 100;
	transition:all 0.2s ease-out;
	opacity: 0.0;
	transform:translate(-50%, -50%)scale(0.7,0.7);
	text-align: center;
}


div.wrapper:hover span.link, div.wrapper span.link:hover, span.link.hover {
	transform:translate(-50%, -50%)scale(0.8,0.8);
}


span.link.show {
	opacity: 1.0;
}