@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#0b0c08;
	width:160px;
	height:600px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
	display: none;
}

div.wrapper figure img {
	left:0;
	top:50%;
	width:auto;
	height:80%;
	position: absolute;
	transform: translate(0%,-50%)scale(1.0,1.0);
	transition:all 3s ease;
}

div.wrapper figure img.show {
	transform: translate(-50%,-50%)scale(1.2,1.2);
	transition:all 6s ease;
}

div.wrapper figure:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	background:linear-gradient(180deg, rgba(36,36,36,1.0) 20%, rgba(36,36,36,0.0) 35%, rgba(36,36,36,0.0) 80%, rgba(36,36,36,1.0) 90%);
}

div.wrapper figure.show {
	display: block;
}

div.wrapper figure figcaption {
	position: absolute;
	top:10%;
	margin:0;
	padding:0;
	z-index: 2;
	width:100%;
	height:100%;
	left:0px;
	transform:translate(0%,0%);
}

div.wrapper figure figcaption span.title {
	width:120%;
	height:50%;
	position: relative;
	background-image:url(../images/frame-title.png);
	background-repeat: no-repeat;
	background-size:100%;
	display: block;
	left:50%;
	transform:scale(1.0,1.0)translate(-50%,-100%);
	opacity: 0.0;
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.title.show {
	transform:scale(1.0,1.0)translate(-50%,10%);
	opacity: 1.0;
}

div.wrapper figure figcaption span.subtitle {
	width:70%;
	top:35%;
	left:50%;
	height:10%;
	position: absolute;
	background-image:url(../images/subtitle.svg);
	background-repeat: no-repeat;
	background-size:100%;
	display: block;
	opacity: 0.0;
	transform:translate(-100%,0);
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.subtitle.show {
	transform:translate(-50%,0%);
	opacity: 1.0;
}

div.wrapper .logo {
	position: absolute;
	bottom:0%;
	left:50%;
	z-index: 100;
	width:90%;
	height:20%;
	display: block;
	background-image:url(../images/bos-theaterproducties.svg);
	background-repeat: no-repeat;
	background-size:50%;
	background-position:center center;
	opacity: 0.0;
	transform:rotate(0deg)translate(-50%,0%)scale(0.9,0.9);
	transition:all 0.2s ease-out;
}

div.wrapper .logo.theater {
	background-image:url(../images/logo.svg);
	background-size:90%;

}


div.wrapper .logo.show {
	transform:rotate(0deg)translate(-50%,0%)scale(0.9,0.9);
	opacity: 1.0;
}


a.link {
	display: block;
	width:95px;
	height:auto;
	background-color:#b72203;
	padding:7px 12px;
	text-decoration: none;
	position:absolute;
	bottom:15%;
	left:50%;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:95%;
	background-position:center center;
	border-radius: 0px;
	border:2px solid #fff;
	z-index: 100;
	transform:translate(-50%,-50%);
	transition:all 0.2s ease-out;
	opacity: 0.0;
}

a.link.show {
	opacity: 1.0;
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:translate(-50%,-50%)scale(1.1,1.1);
}