@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#0b0c08;
	width:300px;
	height:250px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
	display: none;
}

div.wrapper figure img {
	width:100%;
	height:auto;
	position: absolute;
	transform: translate(0,0%)scale(1.3,1.3);
	transition:all 2s ease;
}

div.wrapper figure img.show {
	width:100%;
	height:auto;
	position: absolute;
	transform:translate(0,10%)scale(1.6,1.6);
}


div.wrapper figure:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	background:linear-gradient(-10deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.0) 60%);
}

div.wrapper figure.show {
	display: block;
}

div.wrapper figure figcaption {
	position: absolute;
	bottom:45%;
	margin:0;
	padding:0;
	z-index: 2;
	width:80%;
	height:100%;
	left:50%;
	transform:translate(-50%,50%);
}

div.wrapper figure figcaption span.title {
	width:45%;
	height:100%;
	position: relative;;
	background-image:url(../images/frame-title.png);
	background-repeat: no-repeat;
	background-size:100%;
	display: block;
	transform:scale(1.5,1.5)translate(-100%,0);
	opacity: 0.0;
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.title.show {
	transform:scale(1.0,1.0)translate(0,0%);;
	opacity: 1.0;
}

div.wrapper figure figcaption span.subtitle {
	width:20em;
	height:30px;
	background-image:url(../images/subtitle.svg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position:top;
	display: block;
	opacity: 0.0;
	transform:translate(-10%,0);
	transition:all 0.2s ease-out;
}
div.wrapper figure figcaption span.bottom.subtitle {
	background-position: bottom;
}


div.wrapper figure figcaption span.subtitle.show {
	transform:translate(0,0%);
	opacity: 1.0;
}


div.wrapper .logo {
	position: absolute;
	left:50%;
	bottom:15px;
	z-index: 100;
	width:90%;
	height:50px;
	display: block;
	background-image:url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: bottom;
	transform-origin: center;
	opacity: 0.0;
	transform:translate(-50%, 100%)scale(1.0,1.0);
	transition:all 0.2s ease-out;
}

div.wrapper .logo.show {
	transform:translate(-50%, 0)scale(1.0,1.0);
	opacity: 1.0;
}

a.link {
	width:120px;
	height:auto;
	background-color:#b72203;
	padding:10px 12px;
	text-decoration: none;
	position:absolute;
	bottom:25%;
	left:5%;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:85%;
	background-position:center center;
	border-radius: 0px;
	border:2px solid #fff;
	z-index: 100;
	transition:all 0.2s ease-out;
	opacity: 0.0;
	transform:rotate(-2.5deg)scale(0.9,0.9);
}

a.link.show {
	opacity: 1.0;
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:rotate(-2.5deg)scale(1.0,1.0);
}