@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#0b0c08;
	width:160px;
	height:600px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
	display: none;
}

div.wrapper figure img {
	width:auto;
	height:100%;
	position: absolute;
	transform: translate(-10%,0%);
	transition:all 3s ease;
}

div.wrapper figure img.show {
	transform: translate(-40%,0%);
}

div.wrapper figure:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	background:linear-gradient(-10deg, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.0) 60%);
}

div.wrapper figure.show {
	display: block;
}

div.wrapper figure figcaption {
	position: absolute;
	top:10%;
	margin:0;
	padding:0;
	z-index: 2;
	width:100%;
	left:0%;
	transform:translate(0%,-50%);
}

div.wrapper figure figcaption span.title {
	width:100%;
	height:35px;
	background-image:url(../images/title.svg);
	background-repeat: no-repeat;
	background-color:#fecc00;
	background-size:100%;
	display: block;
	transform:scale(0.9,0.9)rotate(-2deg)translate(-100%,0%);
	opacity: 0.0;
	z-index:1;
	position: absolute;
}

div.wrapper figure figcaption span.title.show {
	transform:scale(1.0,1.0)rotate(-2deg)translate(0,0%);
	opacity: 1.0;
}

div.wrapper figure figcaption span.subtitle {
	width:80%;
	height:53px;
	background-image:url(../images/subtitle.svg);
	background-repeat: no-repeat;
	background-position: center center;
	transform-origin: center;
	background-color:#c8e6ef;
	background-size:95%;
	padding:0 5px;
	display: block;
	transform:scale(1.2,1.2)rotate(3deg)translate(90%,70%);
	opacity: 0.0;
	z-index:0;
	position: absolute;
}

div.wrapper figure figcaption span.title, div.wrapper figure figcaption span.subtitle {
	transition:all 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  	-moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  	transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


div.wrapper figure figcaption span.subtitle.show {
	transform:scale(1.0,1.0)rotate(3deg)translate(18%,60%);
	opacity: 1.0;
}


div.wrapper .logo {
	position: absolute;
	right:15px;
	bottom:15px;
	z-index: 100;
	width:100%;
	height:50px;
	display: block;
	background-image:url(../images/logo.png);
	background-repeat: no-repeat;
	background-size:100%;
	transform-origin: center;
	opacity:1.0;
	transform:rotate(0deg)scale(0.8,0.8);
	transition:all 0.2s ease-out;
}

a.link {
	width:95px;
	height:auto;
	background-color:#EE8D33;
	padding:7px 15px;
	text-decoration: none;
	position:absolute;
	bottom:20%;
	right:20px;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:80%;
	background-position:center center;
	box-shadow:2px 2px 5px rgba(0,0,0,0.5);
	border:1px solid #f39034;
	z-index: 100;
	transition:all 0.2s ease-out;
	opacity: 0.0;
}

a.link.show {
	opacity: 1.0;
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:scale(1.1,1.1);
}