@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#0b0c08;
	width:468px;
	height:60px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
	display: none;
}

div.wrapper figure img {
	left:20%;
	width:65%;
	height:auto;
	position: absolute;
	transform: translate(0,-27%);
	transition:all 6s ease;
}

div.wrapper figure img.show {
	transform: translate(0,-65%);
}

div.wrapper figure:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	background:linear-gradient(90deg, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.68) 35%, rgba(0,0,0,0.0) 40%, rgba(0,0,0,0.0) 70%, rgba(0,0,0,1.0) 80%);
}

div.wrapper figure.show {
	display: block;
}

div.wrapper figure figcaption {
	position: absolute;
	top:18%;
	margin:0;
	padding:0;
	z-index: 2;
	width:30%;
	left:20px;
	transform:translate(0%,0%);
}

div.wrapper figure figcaption span.schoppen {
	width:100%;
	height:27px;
	background-image:url(../images/schoppen.svg);
	background-repeat: no-repeat;
	background-size:100%;
	display: block;
	transform:scale(1.5,1.5)translate(0,100%);
	opacity: 0.0;
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.schoppen.show {
	transform:scale(1.0,1.0)translate(0,0%);;
	opacity: 1.0;
}

div.wrapper figure figcaption span.subtitle {
	width:9em;
	height:10px;
	background-image:url(../images/subtitle.svg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position:top;
	display: block;
	opacity: 0.0;
	transform:translate(-10%,0);
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.bottom.subtitle {
	background-position: bottom;
}

div.wrapper figure figcaption span.subtitle.show {
	transform:translate(0,0%);
	opacity: 1.0;
}

div.wrapper .logo-BonteHond {
	display: none;
}

div.wrapper .logo-DOX {
	display: none;
}


div.wrapper .logo-BonteHond.show, div.wrapper .logo-DOX.show {
	transform:rotate(0deg)scale(1.0,1.0);
	opacity: 1.0;
}

div.wrapper .logo-DOX.show {
	transform:rotate(0deg)scale(1.0,1.0);
	opacity: 1.0;
}


a.link {
	display: block;
	width:95px;
	height:auto;
	background-color:#ff9400;
	padding:7px 12px;
	text-decoration: none;
	position:absolute;
	bottom:15px;
	right:15px;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:95%;
	background-position:center center;
	border-radius: 0px;
	z-index: 100;
	transition:all 0.2s ease-out;
	opacity: 0.0;
}

a.link.show {
	opacity: 1.0;
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:scale(1.1,1.1);
}