@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#fff;
	width:300px;
	height:50px;
	overflow: hidden;
}


div.slide {
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	display:none;
	transition: all 5s ease-out;
	white-space: nowrap;
}

div.slide.show {
	display:block;
}


div.slide figure {
	margin:0px 0 0px 10px;
	padding:0;
	width:calc(33% - 20px);
	height:100%;
	overflow: hidden;
	transition: all 5s linear;
	display: inline-block;

}

div.slide figure.end {
	transform:translate(0,-50%);
}


div.slide figure img {
	width:100%;
	height:auto;
}

div.slide figure:nth-child(1n) img {
	transform:scale(1.5,1.5)translate(-6%,0%);
}

div.slide figure:nth-child(2n) img {
	transform:scale(1.4,1.4)translate(-6%,0%);
}

div.slide figure:nth-child(3n) img {
	transform:scale(1.6,1.6)translate(-6%,0%);
}

div.slide figure:nth-child(4n) img {
	transform:scale(2.1,2.1)translate(-6%,10%);
}

div.slide figure:nth-child(5n) img {
	transform:scale(2.2,2.2)translate(-10%,15%);
}

div.slide figure:nth-child(1n) img[src="images/betty-emmanuel.jpg"] {
	transform:scale(1.6,1.6)translate(-10%,0%);
}

div.slide figure:nth-child(2n) img[src="images/betty-emmanuel.jpg"] {
	transform:scale(2.2,2.2)translate(10%,0%);
}

div.slide figure:nth-child(3n) img[src="images/betty-emmanuel.jpg"] {
	transform:scale(1.6,1.6)translate(-6%,0%);
}

span.subtitle {
	opacity: 0.0;
	position: absolute;
	bottom:0%;
	left:21%;
	width:6em;
	height:3em;
	background-repeat: no-repeat;
	background-size:90%;
	background-position: center;
	background-color:#fff;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
	display: block;
	transform-origin: center;
	transform:rotate(-5.6deg)scale(2.0,2.0)translate(50%,150%);
	transition:all 0.2s ease-out;
}

span.subtitle.show {
	opacity: 1.0;
	transform:rotate(-5.6deg)scale(1.0,1.0)translate(0%,0%);
}


span.subtitle:nth-last-of-type(1)  {
	background-image:url(../images/first.svg);
}

span.subtitle:nth-last-of-type(2)  {
	background-image:url(../images/second.svg);
}

span.subtitle:nth-last-of-type(3)  {
	background-image:url(../images/third.svg);
}


div.wrapper .logo {
	position: absolute;
	left:0px;
	top:0px;
	z-index: 100;
	width:80px;
	height:200px;
	display: block;
	background-image:url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size:100%;
	transform-origin: center;
}

a.link {
	display: none;
	width:120px;
	height:auto;
	background-color:#C80A64;
	padding:15px 12px;
	text-decoration: none;
	position:absolute;
	bottom:2px;
	right:-10px;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:60%;
	background-position:center center;
	border-radius: 0px;
	z-index: 100;
	transition:all 0.2s ease-out;
	transform:scale(0.7,0.7)
}

a.link.show {
	display: block;
}


div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:scale(0.8,0.8);
}
