@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#0b0c08;
	width:728px;
	height:90px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
	display: none;
}

div.wrapper figure img {
	left:0;
	width:65%;
	height:auto;
	position: absolute;
	transform: translate(-20%,0%)scale(1.5,1.5);
	transition:all 3s ease;
}

div.wrapper figure img.show {
	left:0;
	width:65%;
	height:auto;
	position: absolute;
	transform: translate(-20%,-27%)scale(1.5,1.5);
	transition:all 6s ease;
}

div.wrapper figure:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	background:linear-gradient(-90deg, rgba(64,109,140,1.0) 35%, rgba(64,109,140,0.0) 55%);
}

div.wrapper figure.show {
	display: block;
}

div.wrapper figure figcaption {
	position: absolute;
	top:10%;
	margin:0;
	padding:0;
	z-index: 2;
	width:30%;
	height:100%;
	left:20px;
	transform:translate(0%,0%);
}

div.wrapper figure figcaption span.title {
	width:35%;
	height:100%;
	position: relative;
	background-image:url(../images/frame-title.png);
	background-repeat: no-repeat;
	background-size:100%;
	display: block;
	transform:scale(1.5,1.5)translate(0,100%);
	opacity: 0.0;
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.title.show {
	transform:scale(1.0,1.0)translate(0,0%);;
	opacity: 1.0;
}

div.wrapper figure figcaption span.subtitle {
	width:13em;
	height:18px;
	background-image:url(../images/subtitle.svg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position:top;
	display: block;
	opacity: 0.0;
	transform:translate(-10%,0);
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.bottom.subtitle {
	background-position: bottom;
}

div.wrapper figure figcaption span.subtitle.show {
	transform:translate(0,0%);
	opacity: 1.0;
}

div.wrapper .logo {
	position: absolute;
	right:15px;
	top:50%;
	z-index: 100;
	width:20%;
	height:100%;
	display: block;
	background-image:url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size:90%;
	background-position:right center;
	transform-origin: center center;
	opacity: 0.0;
	transform:rotate(0deg)translate(0,-50%)scale(1.0,1.0);
	transition:all 0.2s ease-out;
}

div.wrapper .logo.show {
	transform:rotate(0deg)translate(0,-50%)scale(1.0,1.0);
	opacity: 1.0;
}


a.link {
	display: block;
	width:95px;
	height:auto;
	background-color:#b72203;
	padding:7px 12px;
	text-decoration: none;
	position:absolute;
	top:50%;
	right:30px;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:95%;
	background-position:center center;
	border-radius: 0px;
	border:2px solid #fff;
	z-index: 100;
	transform:translate(0,-50%);
	transition:all 0.2s ease-out;
	opacity: 0.0;
}

a.link.show {
	opacity: 1.0;
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:translate(0,-50%)scale(1.1,1.1);
}