@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#0b0c08;
	width:300px;
	height:250px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
	display: none;
}

div.wrapper figure img {
	width:100%;
	height:auto;
	position: absolute;
	transform: translate(0,-23%);
	transition:all 6s ease;
}

div.wrapper figure img.show {
	transform: translate(0,-42%);
}


div.wrapper figure:after {
	content:"";
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1;
	background:linear-gradient(-10deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.0) 60%);
}

div.wrapper figure.show {
	display: block;
}

div.wrapper figure figcaption {
	position: absolute;
	bottom:40%;
	margin:0;
	padding:0;
	z-index: 2;
	width:80%;
	left:50%;
	transform:translate(-50%,50%);
}

div.wrapper figure figcaption span.schoppen {
	width:100%;
	height:50px;
	background-image:url(../images/schoppen.svg);
	background-repeat: no-repeat;
	background-size:100%;
	display: block;
	transform:scale(1.5,1.5)translate(0,100%);
	opacity: 0.0;
	transition:all 0.2s ease-out;
}

div.wrapper figure figcaption span.schoppen.show {
	transform:scale(1.0,1.0)translate(0,0%);;
	opacity: 1.0;
}

div.wrapper figure figcaption span.subtitle {
	width:14em;
	height:20px;
	background-image:url(../images/subtitle.svg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position:top;
	display: block;
	opacity: 0.0;
	transform:translate(-10%,0);
	transition:all 0.2s ease-out;
}
div.wrapper figure figcaption span.bottom.subtitle {
	background-position: bottom;
}


div.wrapper figure figcaption span.subtitle.show {
	transform:translate(0,0%);
	opacity: 1.0;
}


div.wrapper .logo-BonteHond {
	position: absolute;
	left:15px;
	bottom:15px;
	z-index: 100;
	width:40px;
	height:40px;
	display: block;
	background-image:url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size:100%;
	transform-origin: center;
	opacity: 0.0;
	transform:rotate(0deg)scale(1.5,1.5);
	transition:all 0.2s ease-out;
}

div.wrapper .logo-DOX {
	position: absolute;
	left:60px;
	bottom:15px;
	z-index: 100;
	width:40px;
	height:40px;
	display: block;
	background-image:url(../images/logo_dox.svg);
	background-repeat: no-repeat;
	background-size:100%;
	transform-origin: center;
	opacity: 0.0;
	transform:rotate(0deg)scale(1.5,1.5);
	transition:all 0.2s ease-out;
}


div.wrapper .logo-BonteHond.show, div.wrapper .logo-DOX.show {
	transform:rotate(0deg)scale(1.0,1.0);
	opacity: 1.0;
}

div.wrapper .logo-DOX.show {
	transform:rotate(0deg)scale(1.0,1.0);
	opacity: 1.0;
}

a.link {
	width:95px;
	height:auto;
	background-color:#ff9400;
	padding:7px 12px;
	text-decoration: none;
	position:absolute;
	bottom:20px;
	right:20px;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:95%;
	background-position:center center;
	border-radius: 0px;
	z-index: 100;
	transition:all 0.2s ease-out;
	opacity: 0.0;
}

a.link.show {
	opacity: 1.0;
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:scale(1.1,1.1);
}