@charset "UTF-8";


body {
	margin:0;
	padding:0;
}

a.hidden {
	outline:none;
	text-decoration: none;
	cursor: pointer;
	display:block;
	width:100%;
	height:100%;
}

div.wrapper {
	margin:0;
	padding:0;
	position: relative;
	display:block;
	background-color:#d3eaf8;
	width:250px;
	height:250px;
	overflow: hidden;
}

div.wrapper figure {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
	display: none;
}

div.wrapper figure.show {
	display: block;
}

div.wrapper figure figcaption {
	position: absolute;
	top:0;
	margin:0;
	padding:0;
	z-index: 2;
}

div.wrapper figure figcaption div.row {
	margin:0;
	padding:0px 20px;
	font-family: 'Tusker Grotesk';
	font-size:40px;
	color:#000;
	text-transform:uppercase;
	text-align: left;
	letter-spacing: 1.2px;
	transform: scale(1, 0.9);
  	-webkit-transform: scale(1, 0.9); /* Safari and Chrome */
  	-moz-transform: scale(1, 0.9); /* Firefox */
  	-ms-transform: scale(1, 0.9); /* IE 9+ */
  	-o-transform: scale(1, 0.9); /* Opera */
}

div.wrapper figure figcaption div.row span {
	display: block;
	background-position:left;
	background-repeat: no-repeat;
	background-size:auto;
	width:5em;
	height:0px auto;
	padding:0px 0 0 0;
}

div.wrapper figure figcaption.first div.row span {
	opacity: 0;
}

div.wrapper figure figcaption.first div.row span.top {
	background-image:url(../fonts/sadettin.svg);
}

div.wrapper figure figcaption.first div.row span.middle {
	background-image:url(../fonts/het-nationale-theater.svg);
}

div.wrapper figure figcaption.first div.row span.underline {
	background-image:url(../fonts/presenteren.svg);
}

div.wrapper figure figcaption.bar div.holder div.row span {
	display:inline-block;
	background-position:top;
	background-repeat: no-repeat;
	background-size:auto;
	width:7em;
	height:0px auto;
	padding:0px 0 0 0;
	background-image:url(../fonts/second.svg);
}

div.wrapper figure figcaption div.row span.title {
	padding:20px 0 0 0;
	width:3.5em;
	background-image:url(../fonts/title.svg);
}

div.wrapper figure figcaption div.row span.subtitle {
	padding:30px 0 0 0;
	background-image:url(../fonts/third.svg);
}

div.wrapper figure figcaption div.row.white {
	color:#fff;
	padding:0px 20px;
}


div.wrapper figure figcaption span.underline {
	text-decoration:underline;
}

div.wrapper figure figcaption div.row span.underline.show, div.wrapper figure figcaption div.row span.show  {
	opacity: 1.0;
}

div.wrapper figure figcaption.bar {
	position: absolute;
	top:inherit;
	bottom:22%;
	height:52px;
	width:100%;
	background-color: #fff;

}

div.wrapper figure figcaption.bar div.holder {
	height:58px;
	overflow:hidden;
	white-space: nowrap;
	

}

div.wrapper figure figcaption.bar div.holder div.row {
	width:auto;
	display: inline-block;
	padding:0.25em;
}

div.wrapper figure img {
	height:100%;
	width:auto;
	position: absolute;
	top:-10px;
	left:-50px;
	transform:scale(1.5,1.5);
	transition:all 2s ease-out;
}

.wrapper figure:nth-child(3):after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, rgba(1,1,1,0.8) 0%, rgba(1,1,1,0.8) 40%, rgba(1,1,1,0.0) 70%);
    transition: all 0.5s ease-out;
}

svg.logo {
	position: absolute;
	z-index: 1;
	right:15px;
	bottom:15px;
	width:25%;
	fill:#000;
}

.wrapper.white svg.logo {
	fill:#fff;
}

a.link {
	width:100px;
	height:auto;
	background-color:#e7522a; /*282340*/
	padding:10px 12px;
	text-decoration: none;
	position:absolute;
	bottom:20px;
	left:20px;
	background-image:url(../images/cta.svg);
	background-repeat: no-repeat;
	background-size:85%;
	background-position:center center;
	border-radius: 0px;
	z-index: 100;
	transition:all 0.2s ease-out;
	opacity:0.0;
}

a.link.show {
	opacity: 1.0;
}

div.wrapper:hover a.link, div.wrapper a.link:hover, a.link.hover {
	transform:scale(1.1,1.1);
}